/* Desktop styles */

html, body {
    min-height: 100%;
}

body{
    margin: 0;
    color: #985F6F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('img/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    height: 100%;
    width: 100%;
    padding: 5% 0;
    text-align: center;
}

.main > h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    text-shadow: 0.5px 0.5px 1px #D3D3D3;
}

.main > p{
    font-size: 2rem;
    margin: 1rem 0 2rem 0 ;
}

.social-media{
    display: inline-block;
    height: 6.25%;
    width: 6.25%;
    margin: 0.5rem 1rem 4.5rem 1rem;
}

.social-media:hover{
    transition: 0.25s ease-in;
    opacity: 0.5;
}

a{
    text-decoration: none;
}

.mail{
    position: absolute;
}

.medium{
    border-radius: 12px;
}

/* Responsive Styles*/

@media screen and (max-width: 600px){

    .main{
        margin: 0 auto;
    }

    .main > h1{
        font-size: 2.5rem;
        margin-top: 8rem;
    }    

    .main > p{
        font-size: 1.5rem;
        margin: 0 1.25rem;
        padding: 1rem;
    }

    .social-media{
        height: 12.5%;
        width: 12.5%;
        margin-top: 1rem;
    }

}

@media screen and (min-height: 900px){
    
    .main{
        margin: auto;
    }

    .main > h1{
        padding-top: 11rem;
        font-size: 5rem;
        margin: 1.25rem;
    }   

    .social-media{
        height: 10%;
        width: 10%;
        margin: 1.5rem;

    }

    .mail{
        height: 10%;
        width: 10%;
    }
}

